# Ignore everything in the root folder
*

# Do not ignore .gitignore itself
!.gitignore

# Include the i3 folder and its contents
!i3/
!i3/**

#Include the tmux folder and its contents
!tmux/
!tmux/**

#Include the nvim folder and its contents
!nvim/
!nvim/**
